
/* universal styles */
*{
    margin: 0;
    padding: 0;
}


/* header's items */

header{
    background-image: url('./images/banner2.png');
    height: 800px;
    width: 1600px ;
 

}

.div-container{
    position: absolute;
    left: 845px;
    top: 220px;
    right: 230px;
    text-align: right;

}


.btn-contact{
    color: #FFFFFF;
    background: #F15B22;
    width: 160px;
    height: 64px;
    margin-top: 36px;
}

.hd-primary{
    color: #151414;
    font-size: 65px ;
}

.hd-description{
    color: #444343;
   font-size: 16px;
   margin-top: 24px;

}

/* section styles */

.sec-body{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}
   
ul{
    text-decoration: dotted;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 30px;
}

.sec-container{
  margin: 350px 330px 220px 81px;
}

.sec-img{
    height: 725px;
    width: 570px;
}
.sec-head{
    font-size: 40px;
    color: #151414;
    margin-bottom: 10px;
    
}

/* div iteams */
 
.sec-header{
    text-align: center;
    color: #151414;
    font-size: 40px;
    
}

.div-container1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.style-menu{
    font-size: 30px;
    color: #151414;
    }

.style-sub-menu{
     font-size: 20px;
     color: #737272;
     
}

.icon-img{ 
    padding-left: 50px;
}
.icon-img-js{
    padding-left: 20px;
}

/* background baner */

.baner{
    background-image: url('./images/watch.png');
    width: 1140px;
    height: 300px;
    margin-top: 110px;
    margin-left: 100px;
    margin-right: 100px;
}

.img-dep{
    font-size: 40px;
    color: rgb(0, 0, 0);
    position: relative;
    left: 65px;
    top: 60px;
}

.img-btn{
    color: #F15B22;
    font-size: 20px;
    background-color: #FFFFFF ;
    height: 64px;
    width: 160px;
    border-radius: 5px;
    position: relative;
    left: 65px;
    top: 60px;
    margin-top: 10px;

}

/* footer styles */
 
.footer-body{
   background-color: #151414;
    margin: 110px ;
    width: 1140px;
    height: 400px;
    color: #FFFFFF;
    justify-content: space-between;

}

.footer-container{
    position: relative;
    left: 160px;
    top: 90px;
}
.footer-pera{
    font-size: 16px;
    margin-top: 20px;
}

.footer-last{
    position: relative;
    left: 800px;
    bottom: 150px;
     
}
.footer-icon{
    margin-left: 5px;
    padding: 2px;

}
.footer-icon-div{
    padding-top: 5px;
}

.footer-email{
     margin-top: 20px;
     height: 40px;
     width: 160px;
     border-radius: 5px;
     background-color: #151414;
     

}

.sub-btn{
    margin-top: 16px;
    background-color: #FFFFFF;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    color: #F15B22;
}
